html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arvo';
    padding-top: 35px; 
    padding-bottom: 35px;
}

/* FONT SET */

html, body, textarea, button {
    font-family: 'Arvo';
}

#Counters {
    font-family: 'Courier New', Courier, monospace !important;
}

#Canvas {
    background-color: #211f1f;
    border-radius: 16px;
}
#CanvasDiv {
    text-align: center;
}

h2 {
    margin: 10px;
}



nav ul {
    list-style-type: none; 
    /*removes bullet points*/
    margin:0;
    padding:0;
    overflow: hidden;
    /*??*/
    background-color: #211f1f;
    text-align:center;

    position: fixed;
    top: 0;
    width: 100%;
    /* stays at top of page */
}

nav li{
    text-align:center;
    display:inline-block;
    padding: 14px 0 14px 0;
    background-color: #211f1f;
    /*left to right, one line*/
}

nav li:hover {
    background-color: #181717;
}

#censorButton {
    position: fixed;
    right: 0;
    padding: 8px 8px 8px 8px;
    margin: 8px;
    font-size: small;
    background-color:#181717;
    border-radius: 16px;
    color: white;
    border: none;
}


nav a{
    /*visible change?*/
    color: white;
    text-decoration: none;
    padding: 14px 20px 14px 20px;
}

p {
    align-items: center;
    text-align: center;
    line-height: 30px;
    
}

hr {
    height: 3px;
    background-color: #d4d4d4;
    width: 80%;
    border-radius: 16px;
    border: none;
}