html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arvo';
    padding-top: 20px; 
}

/* FONT SET */

html, body, textarea, button, pre {
    font-family: 'Arvo';
}

#Counters {
    font-family: 'Courier New', Courier, monospace !important;
}

canvas {
    background-color: #211f1f;
    border-radius: 16px;
}
#CanvasDiv {
    text-align: center;
    font-family:"Arvo";
    position: relative;
}

h2 {
    margin: 10px;
}



nav ul {
    list-style-type: none; 
    /*removes bullet points*/
    margin:0;
    padding:0;
    overflow: hidden;
    /*??*/
    background-color: #211f1f;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    /* stays at top of page */
}

nav li{
    text-align:center;
    /* display:inline-block; */
    padding: 14px 0 14px 0;
    background-color: #211f1f;
    color: white;
    flex-shrink: 0;
    /*left to right, one line*/
}

.navIcons {
    display: none;
}

nav li:hover {
    background-color: #181717;
}

#censorButton {
    position: fixed;
    right: 0;
    padding: 8px 8px 8px 8px;
    margin: 8px;
    font-size: small;
    background-color:#181717;
    border-radius: 16px;
    color: white;
    border: none;
}


nav a{
    /*visible change?*/
    color: white;
    text-decoration: none;
    padding: 14px 20px 14px 20px;
}

p, div {
    line-height: 30px;
}

hr {
    height: 3px;
    background-color: #d4d4d4;
    width: 80%;
    border-radius: 16px;
    border: none;
    margin-bottom: 20px;
}

/* span {
    margin: auto;
    display: table;
} */

.preformatted {
    text-align: center;
}


/* Hide short text by default (resolution > 1200px) */
.navShort { display: none; }

/* When resolution <= 1200px, hide full text and show short text */

@media (max-width: 350px) {
  .navShort { display: inline-block; }
  .navLong { display: none; }
}

@media (max-width: 400px) {
  #censorButton { display: none; } 
}

span {
    text-align: center;
}

.center {
    text-align: center;
}

i {
    font-size: 25;
    position:relative;
    top: 3px;
}

.spaced {
    line-height: 45px;
}

ul {
    padding-left: 0;
    list-style-position: inside;
  }

.thin {
    height: 2px;
    opacity: 0.2;
}

.emoji-background {
    border: 15px solid #fbf2ea;
    width:30%;
    margin:auto;
    text-align: center;
    background-color: #fbf2ea;
    border-radius:15px;

}

#emoji-1, #emoji-2, #emoji-3{
    display: inline-block;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
}

#emoji-1 img, #emoji-2 img, #emoji-3 img{
    margin: 0px !important;
    display: inline !important;
    height: auto;
    width: 125px;
}

.emoji-button {
  font-size: 200%;
  margin: 10px;
  border: none;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
}